{% extends "base.html" %}
{% load static %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'news/styles.css' %}">
{% endblock %}


{% block content %}

{% if request.user.is_authenticated %}

<div class="create-form">
    <h2>Write a New Story</h2>
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input class="submit-button" type="submit" value="Submit Story">
    </form>
</div>

{% else %}

    <a href="{% url 'login' %}"">Login</a> or 
    <a href="{% url 'users:createAccount' %}">Sign Up</a>
    to write a new story

{% endif %}    

{% endblock %}

