{% extends "base.html" %}
{% load static %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'news/styles.css' %}">
{% endblock %}

{% block content %}
    
    <h2>Latest News</h2>

    {% if user.is_authenticated %}
        <a href="{% url 'news:newStory' %}">Write New Story</a>
    {% else %}
        <a href="{% url 'login' %}"">Login</a> or 
        <a href="{% url 'users:createAccount' %}">Sign Up</a>
        to write a new story
    {% endif %}

    <a href="{% url 'news:allStories' %}">All Stories</a>


    <div id="latest-stories">
        {% if latest_stories %} 
            {% for story in latest_stories %}
                {% include "./storyCard.html" with story=story position=forloop.counter %}
            {% endfor %}
        {% else %}
            <p>No stories are available.</p>
        {% endif %}
    </div>

{% endblock %}   