{% extends "base.html" %}
{% load static %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'news/styles.css' %}">
{% endblock %}

{% block content %}
    
    <div class="index-banner">
    {% if user.is_authenticated %}
        <a href="{% url 'news:newStory' %}">Write New Story</a>
    {% else %}
        <a href="{% url 'login' %}"">Login  </a><p>or</p><a href="{% url 'users:createAccount' %}">Sign Up</a><p> to write a new story</p>
    {% endif %}
    </div>

    <h2>Latest News</h2>


    <div id="latest-stories">
        {% if latest_stories %} 
            {% for story in latest_stories %}
                {% include "./storyCard.html" with story=story position=forloop.counter %}
            {% endfor %}
        {% else %}
            <p>No stories are available.</p>
        {% endif %}
    </div>

    <h2><a href="{% url 'news:allStories' %}" class="all-stories-link">See all Stories</a></h2>


{% endblock %}   