<div class="story-card"
{% if position %}
id="story-card-{{ position }}
{% endif %}
">

    <a href="{% url 'news:story' story.id %}">

        <div class="story-card-text">
            <h3>{{ story.title }}</h3>
            <h4>{{ story.author }}</h4>
        </div>

        <div class="story-card-image">
            {% if story.image_url %}
                <img src="{{ story.image_url }}">
            {% else %}
                <img src="https://picsum.photos/600">
            {% endif %}
        </div>
            
        <!-- EDIT BUTTON -->
        <!-- Only visible on story card if the author is the same as the user logged in -->
        <div class="story-card-bottom">
            <h4>{{ story.pub_date }}</h4>
            {% if request.user == story.author %}
            <a href="{% url 'news:editStory' pk=story.pk %}">Edit</a>
            <a href="{% url 'news:deleteStory' pk=story.pk %}">Delete</a>
            {% endif %}        
        </div>    

    </a>
    
</div>

