{% extends "base.html" %}
{% load static %}


{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'news/styles.css' %}">
{% endblock %}


{% block content %}

    <h2>{{ userProfile.username }}: Stories</h2>

    {% if user == request.user %}
        <a href="{% url 'news:newStory' %}">Write New Story</a>
    {% endif %}

    {% for story in stories %}
        {% include "./storyCard.html" with story=story %}   
        <p>{{ story.body }}</p>
    {% endfor %}


{% endblock %}    